<h1>Hello there!</h1>
<h3>What would you like to do?</h3>
<ul>
  <li><%= link_to 'List all tasks', index_path %></li>
  <li>Get more details on one task</li>
  <li>Add a new task</li>
  <li>Edit a task</li>
  <li>Remove a task</li>
</ul>
